<div>
  <h1>BIENVENIDO</h1>
  <h2>{{user.role}}:{{user.name}}</h2>
  <p>Correo: {{user.email}}</p>
   <form action="/api/sessions/logout" method="get"> 
    <button type="submit">Cerrar sesión</button>
  </form>
</div>



<div >
	<h1 >Home</h1>

	<ul >
		<li > <a href="/products"><button>Productos</button></a></li>
		<li > <a href="/carts"><button>Ir al carrito</button></a></li>
		<li > <a href="/realTimeProducts"><button>Productos en tiempo real</button></li>
		
	</ul>
</div>