<div>
  <h1>BIENVENIDO</h1>
  <h2>{{user.role}}:{{user.first_name}} {{user.last_name}}</h2>
  <p>Correo: {{user.email}}</p>
   <form action="/api/sessions/logout" method="get"> 
    <button type="submit">Cerrar sesión</button>
  </form>
</div>



<div >
	<h3>Ir a:</h3>

	<ul >
		<li > <a href="/products"><button>Productos</button></a></li>
		<li > <a href="/carts"><button>Ir al carrito</button></a></li>
		<li > <a href="/realTimeProducts"><button>Productos en tiempo real</button></li>
    <li > <a href="/api/sessions/current"><button>Ir a información del usuario logueado</button></li>
  
	</ul>
</div>