<div>
  <h1>BIENVENIDO</h1>
  <h2>{{user.role}}:{{user.first_name}} {{user.last_name}}</h2>
  <p>Correo: {{user.email}}</p>
  <form action="/api/sessions/logout" method="get">
    <button type="submit">Cerrar sesi칩n</button>
  </form>
</div>



<div>
  <h3>Ir a:</h3>

  <ul>
    <li> <a href="/products"><button>Productos</button></a></li>
    <li> <a href="/cart"><button>Ir al carrito</button></a></li>
    <li> <a href="/realTimeProducts"><button>Productos en tiempo real</button></li>
    <li> <a href="/current"><button>Ir a informaci칩n del usuario logueado</button></li>
    <li> <a href="/admin"><button>Panel de Administraci칩n</button></li>
    <form method="POST" action="/api/sessions/restore">
      <button type="submit">Regenerar contrase침a</button>
    </form>

  </ul>
</div>