<div>
    <h1>BIENVENIDO {{user.name}}</h1>
    <p>Correo: {{user.email}}</p>
</div>


<div >
	<h1 >Home</h1>

	<ul >
		<li > <a href="/products"><button>Productos</button></a></li>
		<li > <a href="/carts"><button>Ir al carrito</button></a></li>
		<li > <a href="/realTimeProducts"><button>Productos en tiempo real</button></li>
		
	</ul>
</div>