<div>

    <h1>Ingrese su Email y Contraseña para logearse</h1>

    <form id="loginForm">

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
     <a href="/api/sessions/github"><button>Loguear con GitHub</button></a>
    <a href="/register"><button>Si no estas registrado clickea aca</button></a>
    <a href="/restore"><button>Olvide mi Contraseña</button></a>
</div>

<script src="/js/login.js"></script>